
    <div class="header">
        <div class="svg_class">
            <img id="menu" src="image/menu-button.png" height="80%" padding-top="20px" width="20%" padding-right="21px"
                ;>
            <img class="MyNote_Logo" src="./image/note.png" alt="MyNote" width="20%" padding-left="3px">
            <div class="Name" padding-left="4px">
                <h4>MyNote</h4>
            </div>

        </div>