*{
    padding:0px;
    margin: 0px;
}
body{
   background-color: rgb(248, 76, 76);
    display:absolute;
}
.navBar{
     position:block;
    
     /* font-size: 28px; */
    display:flexbox;
    margin:0%;
    height: 8%; 
    width: 100%;
    
}
.navBar_A{
    height: 100%;
   position:sticky;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-right: 11%;
    
    /* background-color: rgb(238, 236, 121); */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.navBar_A_1{
    /* font-size: 30px; */
   margin-left: 1%;
   padding-left: 1%;
    font-weight: 700;
    width:10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navBar_A_2{
    font-size: 200%;
    padding-top: .7%;
   color: white;
    width:16%;
    align-self: center;
}
.navBar_A_3{
    width: 54%;
    align-items: center;  
}
.search{
    height: 60%;
    width:100%;
    border-radius: 5px;
   margin-top: 2%;
}
.LoginAndLogout{
padding-left: 6px;
}
.navBar_A_4,.navBar_A_5{
    align-self: center; 
    width:10%;
    padding-left: 2%;
    
  
}
.navBar_A_5{
    height: 10%;
}
.SL{
    align-self: center;

    font-size: 20px;
}
.mid{
    display: block;
width: 100%;
height: 84%;
margin: auto;
margin-top: 2%;
}
.mid_A{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
margin:auto;
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
    
    /* background-color: rgb(238, 236, 121); */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card{
    
    height: 318.76px;
    width: 31.37%;
    margin-left: 20px;
    margin-top: 10px;
    background-color:white;
    border-radius: 10px;
   text-align: center;
}
.cardImage{
    padding-top: 5px;
    height: 70%;
    width:100%;
    margin:auto;
    
}
.cardName{
    color:rgb(73, 160, 160);
    font-weight: 900;
  
}
.cardPrice{
    color:rgb(248, 76, 76);
    font-weight: 900;
}